:root {
    --color-black-1: #171717;
    --color-black-2: #1F1F1F;
    --color-grey-1: #515050;
    --color-grey-2: #7B7474;
    --color-white: #F6F2F2;
    --color-orange-1: #E88C03;
    --color-orange-2: #EAA641;
    --color-orange-3: #F0BF75;
    --color-red: #F50000;
    --color-green: #00F545;
}